__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.sqlite3
*.db
.env
venv/
ENV/
.env.*
*.env
.DS_Store
.idea/
.vscode/
*.iml
*.swp
*.swo
logs/
flutter_app/build/
flutter_app/.dart_tool/
flutter_app/.idea/
build/
ios/
android/
macos/
web/
windows/
linux/
.github/
.git/
